.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background-color: beige;
    width: 98%;
    min-height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.card img{
    object-fit: cover;
}
